@use 'variables' as v;

.project-detail-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex: 1;
  gap: 1rem;
  overflow: hidden;
}

.left-panel {
  width: 250px;
  background-color: var(--color-surface-card);
  padding: 1rem;
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-base); // Using defined variable
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
