@use 'variables' as v;
@use 'mixins' as m; // Import mixins for card-base

.chat-room {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include m.card-base; /* Use card-base mixin */
  overflow: hidden;
}

.messages {
  flex: 1;
  padding: v.$space-m; /* Use M spacing */
  overflow-y: auto;
}
