@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m; // Adding mixins in case it's needed in the future

.run-analysis-button {
  button {
    width: 100%;
    padding: 0.75rem;
    font-size: var(--font-size-body-lg); // Using a defined variable
    font-weight: var(--font-weight-semibold); // Using defined variable
    color: var(--color-white);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-base);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--primary-dark-color);
    }

    &:disabled {
      background-color: var(--color-icon-gray);
      cursor: not-allowed;
    }
  }
}
